*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.27273;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: 'futura-pt', 'HelveticaNeue-Light', 'Helvetica Neue Light',
    'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

  background-image: linear-gradient(
    to right bottom,
    rgb(14, 7, 30),
    rgb(18, 8, 50)
  );
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}
