*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.27273;
  color: white;
  width: 100vw;
  overflow-x: hidden;
  height: 2000px;

  font-family: 'futura-pt', 'HelveticaNeue-Light', 'Helvetica Neue Light',
    'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}

.nav-open {
  background-color: rgb(9, 5, 24);
  display: flex;
}
.nav-closed {
  display: none;
  background-color: transparent;
}
.svg-nav {
  fill: inherit;
  height: inherit;
  width: inherit;
  margin: inherit;
  transition: inherit;
}
