*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  line-height: 1.27273;
  color: white;
  width: 100vw;
  overflow-x: hidden;
  height: 2000px;

  font-family: 'futura-pt', 'HelveticaNeue-Light', 'Helvetica Neue Light',
    'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
}
